:host {
  display: block;
  height: 100%;

  .overview {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .signals-divider {
    border: none;
    border-top: 1px solid rgba(var(--palette-foreground-base), 0.08);
    opacity: 1;
  }

  .signal-row-divider {
    border-bottom: 1px solid rgba(var(--palette-foreground-base), 0.08);

    &:last-child {
      border-bottom: none;
    }
  }

  .chart-container {
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
    height: auto;
    max-width: 50rem;

    // Fallback for aspect-ratio (using padding hack)
    @supports not (aspect-ratio: 16 / 9) {
      &::before {
        float: left;
        padding-top: 56.25%;
        content: '';
      }

      &::after {
        display: block;
        content: '';
        clear: both;
      }
    }

    gf-line-chart {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .introduction {
    max-width: 50rem;
  }
}

:host-context(.theme-dark) {
  .signals-divider {
    border-top-color: rgba(var(--palette-foreground-base-dark), 0.08);
  }

  .signal-row-divider {
    border-bottom-color: rgba(var(--palette-foreground-base-dark), 0.08);
  }
}
