:host {
  display: block;

  .mat-mdc-dialog-content {
    max-height: unset;

    gf-line-chart {
      // The height is derived from the aspect ratio of the chart itself, as
      // the date range selector adds to the height of the component
      margin: 0 -0.5rem;
    }

    .button-container {
      gap: 0.5rem;
    }
  }
}
