:host {
  display: block;

  .by-holding-content {
    padding: 0 0.1875rem;
  }

  .by-holding-chart {
    width: 55%;
    flex-shrink: 0;
    padding: 0 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    gf-portfolio-proportion-chart {
      width: 560px;
      flex-shrink: 0;
    }
  }

  .by-holding-list {
    width: 45%;
    max-height: 300px;
    overflow-y: auto;
    padding: 0 0.125rem;

    .border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }
  }

  .world-map-chart {
    .mat-mdc-card {
      .world-map-chart-container {
        aspect-ratio: 16 / 9;
      }
    }
  }

  .mat-mdc-card {
    .mat-mdc-card-header {
      ::ng-deep {
        .mat-mdc-card-header-text {
          flex: 1 1 auto;
          overflow: hidden;
        }
      }

      gf-toggle {
        font-size: 90%;
      }
    }
  }

  .mat-mdc-progress-bar {
    --mat-progress-bar-active-indicator-height: 0.5rem;
    --mat-progress-bar-track-height: 0.5rem;
    border-radius: 0.25rem;

    ::ng-deep {
      .mdc-linear-progress__buffer-bar {
        background-color: rgb(var(--palette-background-unselected-chip));
      }
    }
  }
}

:host-context(.theme-dark) {
  .mat-mdc-progress-bar {
    ::ng-deep {
      .mdc-linear-progress__buffer-bar {
        background-color: rgb(var(--palette-background-unselected-chip-dark));
      }
    }
  }
}
